<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Recommendations="http://www.w3.org/1999/xhtml">
<head>
    <title> Air Quality</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>
        body{
            height:100vh;
            background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://img5.goodfon.com/wallpaper/nbig/e/7f/sea-sky-sunset-pink-beach-more-nebo-zakat-pliazh.jpg');
            background-size:cover;
            background-position:center;
        }
        div.myDiv{
            color: #ffffff;
        }
        ul {
    list-style-type: none;
    }

    </style>


</head>
<body>

<form  th:object="${responseData}">
    <div class="myDiv">
        <h1> Air Quality for lat <span th:text="${lat}"></span> and lon <span th:text="${lon}"></span> </h1>
        <ul th:each="index : ${responseData.data.indexes.baqi}">
            <li>Index Name: <span th:text="${index.name}"></span></li>
            <li>Aqi: <span th:text="${index.aqi}"></span></li>
            <li>Aqi display: <span th:text="${index.aqiDisplay}"></span></li>
            <li>Category: <span th:text="${index.category}"></span></li>
            <li>Color: <span th:text="${index.color}"></span></li>
            <li>Dominant polutant: <span th:text="${index.dominantPollutant}"></span></li>
        </ul>
        <h4>Health Recommendations: <br> <span th:text="${responseData.data.healthRecommendations?.generalPopulation}"></span></h4>
        <h3>Pollutants and concentrations</h3>
        <h4><span th:text="${responseData.data.pollutants?.co?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.co?.concentration}"></span></h4>
        <h4><span th:text="${responseData.data.pollutants?.no2?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.no2?.concentration}"></span></h4>
        <h4><span th:text="${responseData.data.pollutants?.o3?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.o3?.concentration}"></span></h4>
        <h4><span th:text="${responseData.data.pollutants?.pm10?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.pm10?.concentration}"></span></h4>
        <h4><span th:text="${responseData.data.pollutants?.pm25?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.pm25?.concentration}"></span></h4>
        <h4><span th:text="${responseData.data.pollutants?.so2?.fullName}"></span> concentration: <span th:text="${responseData.data.pollutants?.so2?.concentration}"></span></h4>
    </div>
</form>
</body>
</html>
